*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

nav{
    
    background-color: rgba(59,59,59);
}
.logo{
    color: red;
    font-size: 35px;
    line-height: 60px;
    width: 100%;
    margin-left: 7%;
    font-weight: bold;
    letter-spacing: 6px;
    text-transform: uppercase;
    
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 60px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 0px;
    margin: 0 10px;
    text-transform: uppercase;
    
}
a.active, a:hover{
    border-bottom: 2px solid red;
}
#btn-join{
    color: white;
    background-color: red;
    opacity: 0.9;
    border: none;
    padding: 8px 18px;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 3px;
    cursor: pointer;
}
#btn-join:hover{
    opacity: 1.0;
}
#btn-signin{
    background: none;
    border: 0.1px solid darkgray;
    color: white;
    text-transform: uppercase;
    padding: 8px 14px;
    font-size: 14px;
    border-radius: 3px;
    cursor: pointer;
}
#btn-signin:hover{
    background: black;
    
}

.t-movies{
    width: 100% ;
    height: 100%;
    padding: 3% 2%;
    background-color: black;
    
}

.heading{
    font-size: 20px;
    display: inline-block;
    width: 100%;
    padding-left: 3%;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    
}
.footer{
    width: 100%;
    height: 400px;
    padding: 5%;
    background-color: black;
    opacity: 0.9;
}
.container{
    display: flex;
    width: 100%;
    padding-left: 3%;
}
.one{
    color: white;
    padding: 0 40px;
    line-height: 30px;
    opacity: 0.5;
}
.credits{
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: 5%;
    text-transform: capitalize;
    color: white;
    opacity: 0.5;
}
.credits a{
    text-decoration: none;
    color: white;
    margin-left: 4px;
    text-decoration: underline;
   
}
.credits a:hover{
    border-bottom: none;
    color: red;
}
.pic{
    width: 300px;
    margin: 3% 2% 3% 0;
    
}


h4{
    color: white;
    font-weight: 100;
    text-transform: capitalize;
    display: block;
    text-align: center;
    padding: 10px 0;
    font-size: 18px;
    border-bottom: none;
}
.btn1{
    border: none;
    background-color: yellow;
    width: 150px;
    height: 30px;
    font-size: 18px;
    text-transform: uppercase;
    margin: 0;
    cursor: pointer;
}
.btn2{
    border: none;
    background-color: green;
    color: white;
    width: 150px;
    height: 30px;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
}
::placeholder{
    font-size: 18px;
}